# SMNA-Dashboard

Este notebook trata da organização dos resultados do GSI em relação à minimização da função custo do 3DVar. Especificamente, são tratadas as seguintes informações, obtidas a partir do arquivo de log do GSI:

```
Begin Jo table outer loop
    Observation Type           Nobs                        Jo        Jo/n
surface pressure             101588    3.6963295810242533E+04       0.364
temperature                   54009    8.4362268122117763E+04       1.562
wind                         174592    2.2575676441332555E+05       1.293
moisture                      21242    9.4984707783307513E+03       0.447
gps                          280594    5.4391758277321467E+05       1.938
radiance                     171806    1.8338082096514766E+05       1.067
                               Nobs                        Jo        Jo/n
           Jo Global         803831    1.0838792028623789E+06       1.348
End Jo table outer loop
```

A depender da quantidade de outer e inner loops, o GSI registra um número diferente de informações sobre o número de observações consideradas (`Nobs`), o custo da minimização (`Jo`) e o custo da minimização normalizado pelo número de observações (`Jo/n`). A configuração do GSI/3DVar aplicado ao SMNA (válido para a data de escrita deste notebook), considera `miter=2` e `niter=3`, ou seja, 2 outer loops com 3 inner loops cada. Nesse sentido, as informações obtidas a partir das iterações do processo de minimização da função custo, consideram o seguinte:

* OMF: início do primeiro outer loop, onde o estado do sistema é dado pelo background;
* OMF (1st INNER LOOP): final do primeiro inner loop do primeiro outer loop, onde o estado do sistema ainda é dado pelo background;
* OMF (2nd INNER LOOP): final do segundo inner loop do primeiro outer loop, onde o estado do sistema ainda é dado pelo background;
* OMA (AFTER 1st OUTER LOOP): início do segundo outer loop, onde o estado do sistema é dado pela análise;
* OMA (1st INNER LOOP): final do primeiro inner loop do segundo outer loop, onde o estado do sistema é dado pela análise;
* OMA (2nd INNER LOOP): final do segundo inner loop do segundo outer loop, onde o estado do sistema é dado pela análise;
* OMA (AFTER 2nd OUTER LOOP): final do segundo outer loop, análise final.

**Nota:** as informações das iterações `OMF` e `OMF (1st INNER LOOP)` são iguais, assim como as informações das iterações `OMA (AFTER 1st OUTER LOOP)` e `OMA (1st INNER LOOP)`.

As informações do log do GSI são organizadas em um dataframe com a marcação das datas e a inclusão das informações sobre os outer e inner loops:

```
     Date                Observation Type Nobs   Jo            Jo/n  Iter
   0 2023-02-16 06:00:00 surface pressure 104308 32537.652151  0.312 OMF
   1 2023-02-16 06:00:00 temperature      25065  9857.265337   0.393 OMF
   2 2023-02-16 06:00:00 wind             127888 61267.072233  0.479 OMF
   3 2023-02-16 06:00:00 moisture         8705   2103.832442   0.242 OMF
   4 2023-02-16 06:00:00 gps              291665 600962.196931 2.060 OMF
 ...                 ...              ...    ...           ...   ... ...
5399 2023-03-16 00:00:00 wind             203048 129312.187759 0.637 OMA (AFTER 2nd OUTER LOOP)
5400 2023-03-16 00:00:00 moisture         22219  4948.997007   0.223 OMA (AFTER 2nd OUTER LOOP)
5401 2023-03-16 00:00:00 gps              264466 392890.280946 1.486 OMA (AFTER 2nd OUTER LOOP)
5402 2023-03-16 00:00:00 radiance         183884 56169.185410  0.305 OMA (AFTER 2nd OUTER LOOP)
5403 2023-03-16 00:00:00 Jo Global        832986 645663.456547 0.775 OMA (AFTER 2nd OUTER LOOP)
```

Considerando vários experimentos, os dataframes são concatenados em um só (`dfs`), o qual é salvo em disco no formato CSV. A indexação do dataframe `dfs` pode ser feita da seguinte forma:

1. Escolha de um subdataframe: 

    `df_dtc1 = dfs.xs('df_dtc', axis=1)`

2. Escolha de uma variável: 

    `df_dtc1.loc[df_dtc1['Observation Type'] == 'surface pressure'].reset_index(drop=True)`
    
3. Escolha de um parâmetro: 

    `df_dtc1.loc[df_dtc1['Observation Type'] == 'surface pressure'].loc[df_dtc1['Iter'] == 'OMF'].reset_index(drop=True)`
    
4. Escolha de um horário: 

    `df_dtc1.loc[df_dtc1['Observation Type'] == 'surface pressure'].loc[df_dtc1['Iter'] == 'OMF'].set_index('Date').at_time(str('00:00:00')).reset_index(drop=False)`
    
5. Escolha de um intervalo de datas (e.g., `2023-02-17` a `2023-03-19`):

    `df_dtc1.set_index(['Date']).loc['2023-02-17':'2023-02-19']`    

**Nota:** nesta versão, a consideração dos valores de `miter` e `niter` não está generalizada. Para outras configurações, será necessário ajustar os valores de `i` na função `df_Nobs`.

---

Carlos Frederico Bastarz (carlos.bastarz@inpe.br), Abril de 2023.

In [1]:
import os
import re
import numpy as np
import pandas as pd

from datetime import datetime, timedelta

In [2]:
# Função para ler os arquivos de log e separar as seções que se iniciam por 'Begin Jo'
# Nota: as opções 'outer' e 'inner' esão sendo desconsideradas

def df_Nobs(fname, nexp, mname):
   
    colnames = ['Observation Type', 'Nobs', 'Jo', 'Jo/n', 'Iter']
    
    dfNobs = pd.DataFrame(columns=colnames)
    
    # definição das palavras-chave que devem constar no começo das linhas de interesse
    begin = 'Begin Jo'
    end = 'End Jo'
    
    with open(fname, 'r') as file: # abre o arquivo para leitura
        match = False
        i = 0

        for line in file: # percorre as linhas do arquivo
            line = line.strip() # separa as palavras de cada linha
            
            # procura as linhas que começam com begin e end definidos acima
            if re.match(begin, line):
                match = True
                continue
            elif re.match(end, line):
                match = False
                continue
            elif match: # quando a linha com o padrão é encontrada
                
                sline = line.split() # separa as palavras 
                if len(sline) == 5: 
                    ltmp = [sline[0] + ' ' + sline[1]] + sline[2:]
                elif len(sline) == 3:
                    ltmp = [''] + sline
                else: 
                    ltmp = sline                    
                    
                if ltmp[0] == 'Observation Type': # se o primeiro elemento for a string 'Observation Type', passa para a próxima linha
                    pass
                elif ltmp[1] == 'Nobs': # idem
                    pass
                else: # atribui os valores para cada coluna do dataframe
                    if ltmp[0] == '':
                        ltmp[0] = np.nan
                    else:
                        ltmp[0] = str(ltmp[0])
                    
                    if ltmp[1] == '':
                        ltmp[1] = 0
                    else:
                        ltmp[1] = int(ltmp[1])
                    
                    if ltmp[2] == '-999.999':
                        ltmp[2] = np.nan
                    else:
                        ltmp[2] = float(ltmp[2])
                        
                    if ltmp[3] == '-999.999':
                        ltmp[3] = np.nan
                    else:
                        ltmp[3] = float(ltmp[3])
                                        
                    # escreve a informação sobre a iteração (MITER OMF, MITER OMA etc.)
                    # aqui sempre serão lidas as variáveis surf pres, temp, wind, moist, gps, rad e Jo Global
                    # para cada uma será atribuído o rótulo daquela iteração
                    if i <= 8: # as primeras 8 linhas são referentes ao OMF BEGIN (início do primeiro outer loop)
                        iter_info = 'OMF'
                    elif i > 8 and i <= 17:
                        iter_info = 'OMF (1st INNER LOOP)'
                    elif i > 17 and i <= 26:
                        iter_info = 'OMF (2nd INNER LOOP)'
                    elif i > 26 and i <= 35:
                        iter_info = 'OMA (AFTER 1st OUTER LOOP)'
                    elif i > 35 and i <= 44:
                        iter_info = 'OMA (1st INNER LOOP)'
                    elif i > 44 and i <= 53:
                        iter_info = 'OMA (2nd INNER LOOP)'
                    elif i > 53 and i <= 62:
                        iter_info = 'OMA (AFTER 2nd OUTER LOOP)'
     
                    ltmp.append(iter_info)
                    
                    dfNobs.loc[i] = ltmp
                    
                i += 1
        
        dfNobs = dfNobs.set_index('Observation Type')
        dfNobs.name = str(mname)
            
    return dfNobs

In [3]:
# Nota: os arquivos de log utilizados neste notebook, podem ser encontrados em /scripts/das/carlos.bastarz/SMNA-Dashboard na máquina Itapemirim
bpath = '/home/carlos/GitHub/SMNA-Dashboard-Jo'

# Função para obter os dataframes em um intervalo de datas para um determinado experimento

def get_df_Nobs(datai, dataf, nexp, mname):

    datai = datetime.strptime(str(datai), '%Y%m%d%H')
    dataf = datetime.strptime(str(dataf), '%Y%m%d%H')
    
    dataifmt=datai.strftime('%Y%m%d%H')
    
    delta = 6
    data = datai

    data = datai + timedelta(hours=delta)

    log_list = {}

    while (data <= dataf):

        datafmt = data.strftime('%Y%m%d%H')
    
        fname = os.path.join(bpath, nexp, str(datafmt), str('gsiStdout_' + str(datafmt) + '.log')) 
        
        if os.path.isfile(fname):
    
            log_list[data] = df_Nobs(fname, nexp, mname)
    
        else:
            
             print(fname, ' não existe!')
    
        data = data + timedelta(hours=delta)
    
    dftmp = pd.concat(log_list)
    dftmp.index.names = ['Date', dftmp.index.names[1]] # inclui as datas na coluna Date
    dftmp = dftmp.reset_index()
    dftmp.name = str(mname)
    
    return dftmp

In [4]:
%%time

# Obtenção dos datasframes para um intervalo de datas

datai = '2023010100'
dataf = '2023111300'

df_preOper = get_df_Nobs(datai, dataf, 'preOper', 'df_preOper')
df_JGerd = get_df_Nobs(datai, dataf, 'JGerd', 'df_JGerd')

/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023010912/gsiStdout_2023010912.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023010918/gsiStdout_2023010918.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011000/gsiStdout_2023011000.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011006/gsiStdout_2023011006.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011012/gsiStdout_2023011012.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011018/gsiStdout_2023011018.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011100/gsiStdout_2023011100.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011106/gsiStdout_2023011106.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011112/gsiStdout_2023011112.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011118/gsiStdout_2023011118.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011200/gsiStdout_2023011200.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011206/gsiStdout_2023011206.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011212/gsiStdout_2023011212.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011218/gsiStdout_2023011218.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011300/gsiStdout_2023011300.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011306/gsiStdout_2023011306.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011312/gsiStdout_2023011312.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011318/gsiStdout_2023011318.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011400/gsiStdout_2023011400.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011406/gsiStdout_2023011406.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011412/gsiStdout_2023011412.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011418/gsiStdout_2023011418.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011500/gsiStdout_2023011500.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011506/gsiStdout_2023011506.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011512/gsiStdout_2023011512.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011518/gsiStdout_2023011518.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011600/gsiStdout_2023011600.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011606/gsiStdout_2023011606.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011612/gsiStdout_2023011612.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011618/gsiStdout_2023011618.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011700/gsiStdout_2023011700.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011706/gsiStdout_2023011706.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011712/gsiStdout_2023011712.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011718/gsiStdout_2023011718.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011800/gsiStdout_2023011800.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011806/gsiStdout_2023011806.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011812/gsiStdout_2023011812.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011818/gsiStdout_2023011818.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011900/gsiStdout_2023011900.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011906/gsiStdout_2023011906.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011912/gsiStdout_2023011912.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023011918/gsiStdout_2023011918.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012000/gsiStdout_2023012000.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012006/gsiStdout_2023012006.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012012/gsiStdout_2023012012.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012018/gsiStdout_2023012018.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012100/gsiStdout_2023012100.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012106/gsiStdout_2023012106.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012112/gsiStdout_2023012112.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012118/gsiStdout_2023012118.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012200/gsiStdout_2023012200.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012206/gsiStdout_2023012206.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012212/gsiStdout_2023012212.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012218/gsiStdout_2023012218.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012300/gsiStdout_2023012300.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012306/gsiStdout_2023012306.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012312/gsiStdout_2023012312.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012318/gsiStdout_2023012318.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012400/gsiStdout_2023012400.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012406/gsiStdout_2023012406.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012412/gsiStdout_2023012412.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012418/gsiStdout_2023012418.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012500/gsiStdout_2023012500.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012506/gsiStdout_2023012506.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012512/gsiStdout_2023012512.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012518/gsiStdout_2023012518.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012600/gsiStdout_2023012600.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012606/gsiStdout_2023012606.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012612/gsiStdout_2023012612.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012618/gsiStdout_2023012618.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012700/gsiStdout_2023012700.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012706/gsiStdout_2023012706.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012712/gsiStdout_2023012712.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012718/gsiStdout_2023012718.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012800/gsiStdout_2023012800.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012806/gsiStdout_2023012806.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012812/gsiStdout_2023012812.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012818/gsiStdout_2023012818.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012900/gsiStdout_2023012900.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012906/gsiStdout_2023012906.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012912/gsiStdout_2023012912.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023012918/gsiStdout_2023012918.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023013000/gsiStdout_2023013000.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023013006/gsiStdout_2023013006.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023013012/gsiStdout_2023013012.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023013018/gsiStdout_2023013018.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023013100/gsiStdout_2023013100.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023013112/gsiStdout_2023013112.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023013118/gsiStdout_2023013118.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023110918/gsiStdout_2023110918.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023111000/gsiStdout_2023111000.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023111006/gsiStdout_2023111006.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023111012/gsiStdout_2023111012.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023111018/gsiStdout_2023111018.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023111100/gsiStdout_2023111100.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023111106/gsiStdout_2023111106.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023111112/gsiStdout_2023111112.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023111118/gsiStdout_2023111118.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023111200/gsiStdout_2023111200.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023111206/gsiStdout_2023111206.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023111212/gsiStdout_2023111212.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023111218/gsiStdout_2023111218.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/preOper/2023111300/gsiStdout_2023111300.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/JGerd/2023110918/gsiStdout_2023110918.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/JGerd/2023111000/gsiStdout_2023111000.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/JGerd/2023111006/gsiStdout_2023111006.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/JGerd/2023111012/gsiStdout_2023111012.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/JGerd/2023111018/gsiStdout_2023111018.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/JGerd/2023111100/gsiStdout_2023111100.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/JGerd/2023111106/gsiStdout_2023111106.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/JGerd/2023111112/gsiStdout_2023111112.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/JGerd/2023111118/gsiStdout_2023111118.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/JGerd/2023111200/gsiStdout_2023111200.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/JGerd/2023111206/gsiStdout_2023111206.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/JGerd/2023111212/gsiStdout_2023111212.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/JGerd/2023111218/gsiStdout_2023111218.log  não existe!
/home/carlos/GitHub/SMNA-Dashboard-Jo/JGerd/2023111300/gsiStdout_2023111300.log  não existe!
CPU times: user 1min 7s, sys: 176 ms, total: 1min 7s
Wall time: 1min 7s

In [5]:
df_preOper

,Date,Observation Type,Nobs,Jo,Jo/n,Iter
0,2023-01-01 06:00:00,surface pressure,103613,28077.244603,0.271,OMF
1,2023-01-01 06:00:00,temperature,23314,7434.834587,0.319,OMF
2,2023-01-01 06:00:00,wind,123576,55876.143277,0.452,OMF
3,2023-01-01 06:00:00,moisture,8049,1825.280002,0.227,OMF
4,2023-01-01 06:00:00,radiance,155071,126584.174405,0.816,OMF
...,...,...,...,...,...,...
48090,2023-11-09 12:00:00,wind,214234,134201.497435,0.626,OMA (AFTER 2nd OUTER LOOP)
48091,2023-11-09 12:00:00,moisture,24497,4917.344735,0.201,OMA (AFTER 2nd OUTER LOOP)
48092,2023-11-09 12:00:00,gps,235536,277588.790809,1.179,OMA (AFTER 2nd OUTER LOOP)
48093,2023-11-09 12:00:00,radiance,179632,57518.374400,0.320,OMA (AFTER 2nd OUTER LOOP)
48094,2023-11-09 12:00:00,Jo Global,821237,533171.082462,0.649,OMA (AFTER 2nd OUTER LOOP)

In [6]:
df_JGerd

,Date,Observation Type,Nobs,Jo,Jo/n,Iter
0,2023-01-01 06:00:00,surface pressure,103628,27821.495244,0.268,OMF
1,2023-01-01 06:00:00,temperature,23314,6505.933842,0.279,OMF
2,2023-01-01 06:00:00,wind,123800,53919.244185,0.436,OMF
3,2023-01-01 06:00:00,moisture,8049,1844.773134,0.229,OMF
4,2023-01-01 06:00:00,radiance,145759,105172.423224,0.722,OMF
...,...,...,...,...,...,...
59691,2023-11-09 12:00:00,wind,214276,133911.591635,0.625,OMA (AFTER 2nd OUTER LOOP)
59692,2023-11-09 12:00:00,moisture,24497,5008.401472,0.204,OMA (AFTER 2nd OUTER LOOP)
59693,2023-11-09 12:00:00,gps,235498,278101.507481,1.181,OMA (AFTER 2nd OUTER LOOP)
59694,2023-11-09 12:00:00,radiance,181764,57965.933591,0.319,OMA (AFTER 2nd OUTER LOOP)
59695,2023-11-09 12:00:00,Jo Global,823370,534267.931764,0.649,OMA (AFTER 2nd OUTER LOOP)

In [7]:
# Concatenação dos dataframes dos experimentos

dfs = pd.concat([df_preOper, df_JGerd], axis=1, keys=([df_preOper.name, df_JGerd.name]))

In [8]:
dfs

               df_preOper                                                    \
                     Date  Observation Type      Nobs             Jo   Jo/n
0     2023-01-01 06:00:00  surface pressure  103613.0   28077.244603  0.271
1     2023-01-01 06:00:00       temperature   23314.0    7434.834587  0.319
2     2023-01-01 06:00:00              wind  123576.0   55876.143277  0.452
3     2023-01-01 06:00:00          moisture    8049.0    1825.280002  0.227
4     2023-01-01 06:00:00          radiance  155071.0  126584.174405  0.816
...                   ...               ...       ...            ...    ...
59691                 NaT               NaN       NaN            NaN    NaN
59692                 NaT               NaN       NaN            NaN    NaN
59693                 NaT               NaN       NaN            NaN    NaN
59694                 NaT               NaN       NaN            NaN    NaN
59695                 NaT               NaN       NaN            NaN    NaN

                      df_JGerd                                           \
      Iter                Date  Observation Type    Nobs             Jo
0      OMF 2023-01-01 06:00:00  surface pressure  103628   27821.495244
1      OMF 2023-01-01 06:00:00       temperature   23314    6505.933842
2      OMF 2023-01-01 06:00:00              wind  123800   53919.244185
3      OMF 2023-01-01 06:00:00          moisture    8049    1844.773134
4      OMF 2023-01-01 06:00:00          radiance  145759  105172.423224
...    ...                 ...               ...     ...            ...
59691  NaN 2023-11-09 12:00:00              wind  214276  133911.591635
59692  NaN 2023-11-09 12:00:00          moisture   24497    5008.401472
59693  NaN 2023-11-09 12:00:00               gps  235498  278101.507481
59694  NaN 2023-11-09 12:00:00          radiance  181764   57965.933591
59695  NaN 2023-11-09 12:00:00         Jo Global  823370  534267.931764


        Jo/n                        Iter
0      0.268                         OMF
1      0.279                         OMF
2      0.436                         OMF
3      0.229                         OMF
4      0.722                         OMF
...      ...                         ...
59691  0.625  OMA (AFTER 2nd OUTER LOOP)
59692  0.204  OMA (AFTER 2nd OUTER LOOP)
59693  1.181  OMA (AFTER 2nd OUTER LOOP)
59694  0.319  OMA (AFTER 2nd OUTER LOOP)
59695  0.649  OMA (AFTER 2nd OUTER LOOP)

[59696 rows x 12 columns]

In [9]:
# Escrita do dataframe concatenado em disco no formato CSV

dfs.to_csv('jo_table_series.csv', index=False)

## Exemplos de indexação do dataframe `dfs`

In [10]:
# Escolha de um subdataframe

df_preOper = dfs.xs('df_preOper', axis=1)

In [11]:
df_preOper

,Date,Observation Type,Nobs,Jo,Jo/n,Iter
0,2023-01-01 06:00:00,surface pressure,103613.0,28077.244603,0.271,OMF
1,2023-01-01 06:00:00,temperature,23314.0,7434.834587,0.319,OMF
2,2023-01-01 06:00:00,wind,123576.0,55876.143277,0.452,OMF
3,2023-01-01 06:00:00,moisture,8049.0,1825.280002,0.227,OMF
4,2023-01-01 06:00:00,radiance,155071.0,126584.174405,0.816,OMF
...,...,...,...,...,...,...
59691,NaT,NaN,NaN,NaN,NaN,NaN
59692,NaT,NaN,NaN,NaN,NaN,NaN
59693,NaT,NaN,NaN,NaN,NaN,NaN
59694,NaT,NaN,NaN,NaN,NaN,NaN
59695,NaT,NaN,NaN,NaN,NaN,NaN

In [12]:
# Escolha de uma variável

df_preOper.loc[df_preOper['Observation Type'] == 'surface pressure'].reset_index(drop=True)

,Date,Observation Type,Nobs,Jo,Jo/n,Iter
0,2023-01-01 06:00:00,surface pressure,103613.0,28077.244603,0.271,OMF
1,2023-01-01 06:00:00,surface pressure,103613.0,28077.244603,0.271,OMF (1st INNER LOOP)
2,2023-01-01 06:00:00,surface pressure,103613.0,16924.060978,0.163,OMF (1st INNER LOOP)
3,2023-01-01 06:00:00,surface pressure,103706.0,17840.166735,0.172,OMF (2nd INNER LOOP)
4,2023-01-01 06:00:00,surface pressure,103706.0,17840.166735,0.172,OMA (AFTER 1st OUTER LOOP)
...,...,...,...,...,...,...
6647,2023-11-09 12:00:00,surface pressure,108704.0,20681.432773,0.190,OMF (2nd INNER LOOP)
6648,2023-11-09 12:00:00,surface pressure,108900.0,22410.844210,0.206,OMA (AFTER 1st OUTER LOOP)
6649,2023-11-09 12:00:00,surface pressure,108900.0,22410.844210,0.206,OMA (1st INNER LOOP)
6650,2023-11-09 12:00:00,surface pressure,108900.0,19039.514273,0.175,OMA (2nd INNER LOOP)
6651,2023-11-09 12:00:00,surface pressure,108920.0,19041.015540,0.175,OMA (AFTER 2nd OUTER LOOP)

In [13]:
# Escolha de um parâmetro

df_preOper.loc[df_preOper['Observation Type'] == 'surface pressure'].loc[df_preOper['Iter'] == 'OMF'].reset_index(drop=True)

                   Date  Observation Type      Nobs            Jo   Jo/n Iter
0   2023-01-01 06:00:00  surface pressure  103613.0  28077.244603  0.271  OMF
1   2023-01-01 12:00:00  surface pressure  108991.0  37291.883349  0.342  OMF
2   2023-01-01 18:00:00  surface pressure  105380.0  32555.630787  0.309  OMF
3   2023-01-02 00:00:00  surface pressure  103459.0  34917.744110  0.338  OMF
4   2023-01-02 06:00:00  surface pressure  107389.0  31539.286677  0.294  OMF
..                  ...               ...       ...           ...    ...  ...
947 2023-11-08 12:00:00  surface pressure  109732.0  34413.593345  0.314  OMF
948 2023-11-08 18:00:00  surface pressure  106119.0  34156.825392  0.322  OMF
949 2023-11-09 00:00:00  surface pressure  105464.0  37638.162589  0.357  OMF
950 2023-11-09 06:00:00  surface pressure  107038.0  32925.288123  0.308  OMF
951 2023-11-09 12:00:00  surface pressure  108704.0  33260.299655  0.306  OMF

[952 rows x 6 columns]

In [14]:
# Escolha de um horário

df_preOper.loc[df_preOper['Observation Type'] == 'surface pressure'].loc[df_preOper['Iter'] == 'OMF'].set_index('Date').at_time(str('00:00:00')).reset_index(drop=False)

          Date  Observation Type      Nobs            Jo   Jo/n Iter
0   2023-01-02  surface pressure  103459.0  34917.744110  0.338  OMF
1   2023-01-03  surface pressure  105359.0  31903.107482  0.303  OMF
2   2023-01-04  surface pressure  105929.0  32922.359971  0.311  OMF
3   2023-01-05  surface pressure  104605.0  33572.902816  0.321  OMF
4   2023-01-06  surface pressure  103174.0  36822.106146  0.357  OMF
..         ...               ...       ...           ...    ...  ...
272 2023-11-05  surface pressure  103652.0  35941.863392  0.347  OMF
273 2023-11-06  surface pressure  103953.0  37128.941111  0.357  OMF
274 2023-11-07  surface pressure  102877.0  38512.172150  0.374  OMF
275 2023-11-08  surface pressure  105082.0  36953.944044  0.352  OMF
276 2023-11-09  surface pressure  105464.0  37638.162589  0.357  OMF

[277 rows x 6 columns]

In [22]:
df_preOper.set_index(['Date']).loc['2023-01-01':'2023-02-01']

KeyError: 'Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is not allowed.'

In [21]:
df_JGerd.set_index(['Date']).loc['2023-01-01':'2023-02-01']

,Observation Type,Nobs,Jo,Jo/n,Iter
Date,,,,,
2023-01-01 06:00:00,surface pressure,103628,27821.495244,0.268,OMF
2023-01-01 06:00:00,temperature,23314,6505.933842,0.279,OMF
2023-01-01 06:00:00,wind,123800,53919.244185,0.436,OMF
2023-01-01 06:00:00,moisture,8049,1844.773134,0.229,OMF
2023-01-01 06:00:00,radiance,145759,105172.423224,0.722,OMF
...,...,...,...,...,...
2023-02-01 18:00:00,temperature,25037,5705.962014,0.228,OMA (2nd INNER LOOP)
2023-02-01 18:00:00,wind,102756,29246.978561,0.285,OMA (2nd INNER LOOP)
2023-02-01 18:00:00,moisture,8542,1995.684844,0.234,OMA (2nd INNER LOOP)
2023-02-01 18:00:00,radiance,179397,55359.594973,0.309,OMA (2nd INNER LOOP)
2023-02-01 18:00:00,Jo Global,421467,111090.758819,0.264,OMA (AFTER 2nd OUTER LOOP)

In [23]:
df_preOper.loc[df_preOper['Observation Type'] == 'wind'].loc[df_preOper['Iter'] == 'OMF'].set_index('Date').loc['2023-01-01':'2023-02-01'].at_time(str('00:00:00')).reset_index(drop=False)

        Date Observation Type      Nobs             Jo   Jo/n Iter
0 2023-01-02             wind  187698.0  220997.356275  1.177  OMF
1 2023-01-03             wind  200780.0  215590.952544  1.074  OMF
2 2023-01-04             wind  205640.0  225945.269915  1.099  OMF
3 2023-01-05             wind  195520.0  223513.048634  1.143  OMF
4 2023-01-06             wind  198266.0  213080.650330  1.075  OMF
5 2023-02-01             wind  200428.0  225775.790130  1.126  OMF

In [24]:
df_JGerd.loc[df_JGerd['Observation Type'] == 'wind'].loc[df_JGerd['Iter'] == 'OMF'].set_index('Date').loc['2023-01-01':'2023-02-01'].at_time(str('00:00:00')).reset_index(drop=False)

         Date Observation Type    Nobs             Jo   Jo/n Iter
0  2023-01-02             wind  187990  214083.437698  1.139  OMF
1  2023-01-03             wind  200652  215420.035374  1.074  OMF
2  2023-01-04             wind  205576  228779.006622  1.113  OMF
3  2023-01-05             wind  195558  225192.119108  1.152  OMF
4  2023-01-06             wind  198112  214718.067552  1.084  OMF
5  2023-01-07             wind  190324  213119.001704  1.120  OMF
6  2023-01-08             wind  197508  204693.464337  1.036  OMF
7  2023-01-09             wind  203236  213223.581859  1.049  OMF
8  2023-01-10             wind  177052  217917.012810  1.231  OMF
9  2023-01-11             wind  201026  224793.632704  1.118  OMF
10 2023-01-12             wind  181016  216694.573403  1.197  OMF
11 2023-01-13             wind  213102  237957.157432  1.117  OMF
12 2023-01-14             wind  187818  230621.760512  1.228  OMF
13 2023-01-15             wind  205278  234227.888973  1.141  OMF
14 2023-01-16             wind  176816  213819.808548  1.209  OMF
15 2023-01-17             wind  201948  230617.260722  1.142  OMF
16 2023-01-18             wind  206904  217559.607323  1.052  OMF
17 2023-01-19             wind  194722  226509.270196  1.163  OMF
18 2023-01-20             wind  185378  216358.422914  1.167  OMF
19 2023-01-21             wind  186312  218615.894226  1.173  OMF
20 2023-01-22             wind  184838  219347.123693  1.187  OMF
21 2023-01-23             wind  200772  221116.228661  1.101  OMF
22 2023-01-24             wind  192714  236184.683339  1.226  OMF
23 2023-01-25             wind  206664  250370.800852  1.211  OMF
24 2023-01-26             wind  189306  229758.547421  1.214  OMF
25 2023-01-27             wind  205892  241978.817567  1.175  OMF
26 2023-01-28             wind  195162  224078.931615  1.148  OMF
27 2023-01-29             wind  181496  206302.330540  1.137  OMF
28 2023-01-30             wind  194224  213342.709662  1.098  OMF
29 2023-01-31             wind  193630  228685.547599  1.181  OMF
30 2023-02-01             wind  200428  225775.790130  1.126  OMF